<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Shifts</title>

    <style>
        .key {
            margin-bottom: 2em;
        }
        .key .example {
            width: 10px;
            height: 10px;
            display: inline-block;
            border-radius: 50%;
            margin-right: 5px;
        }
    </style>
</head>
<body>
<div class="container">
        <h1>Moja Cafe'</h1>

        <div class="key">
            <div>
                <div class="example" style="background-color: #ff0000;"></div>Fully Booked
            </div>
            <div>
                <div class="example" style="background-color: #ffa500;"></div>Almost Fully Booked
            </div>
            <div>
                <div class="example" style="background-color: #008000;"></div>Space Available
            </div>
        </div>

    <form action="/waiter/:{{name}}" method="post">
        <input type="text" value="{{name}}" name="username">

        <table>
            <tr>
                <td><input type="checkbox" name="day" value="Monday">Monday</td>
                <td><input type="checkbox" name="day" value="Tuesday">Tuesday</td>
                <td><input type="checkbox" name="day" value="Wednesday">Wednesday</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="day" value="Thursday">Thursday</td>
                <td><input type="checkbox" name="day" value="Friday">Friday</td>
                <td><input type="checkbox" name="day" value="Saturday">Saturday</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="day" value="Sunday">Sunday</td>
                <td colspan="2"><button type="submit" name="addBtn">Submit</button></td>
            </tr>
        </table>
<!--        {{#each weekDays}}-->
<!--            <tr>-->
<!--                <td>-->
<!--                    <input type="checkbox" name="{{day}}" value="{{id}}"><span>Monday</span>-->
<!--                </td>-->
<!--                <td>-->
<!--                    <input type="checkbox" name="{{day}}" value="{{id}}"><span>Tuesday</span>-->
<!--                </td>-->
<!--                <td>-->
<!--                    <input type="checkbox" name="{{day}}" value="{{id}}"><span>Wednesday</span>-->
<!--                </td>-->
<!--                <td>-->
<!--                    <input type="checkbox" name="{{day}}" value="{{id}}"><span>Thursday</span>-->
<!--                </td>-->
<!--                <td>-->
<!--                    <input type="checkbox" name="{{day}}" value="{{id}}"><span>Friday</span>-->
<!--                </td>-->
<!--                <td>-->
<!--                    <input type="checkbox" name="{{day}}" value="{{id}}"><span>Saturday</span>-->
<!--                </td>-->
<!--                <td>-->
<!--                    <input type="checkbox" name="{{day}}" value="{{id}}"><span>Sunday</span>-->
<!--                </td>-->
<!--            </tr>-->
<!--        {{/each}}-->
    </form>

        <form action="/shift" method="get">
            <button type="submit">View Shifts</button>
        </form>
</div>
</body>
</html>